.container {
  max-width: 1440px;
  padding: 24px 156px;
  margin-left: auto;
  margin-right: auto;
}
.gallery {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding: 0;
  margin: 0;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
}
.gallery-item:hover .gallery-image {
  width: 105%;
  height: auto;
}
.gallery-image {
  display: block;
  width: 100%;
  height: auto;
}
.gallery-link {
  display: block;
  text-decoration: none;
}
